<div id="update-form">
  
  <h3>Automate an A2A to your favorite followers</h3>

  <hr>

  <form class="form" method="post" action="/updates">
    <input type="checkbox" checked data-toggle="toggle" data-on="A2A is active" data-off="A2A is not active" data-width="120" data-onstyle="success" data-size="mini">
  </form>

</div>